@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
	padding: 9.38rem 5rem;
	width: 100%;
	min-height: 100vh;
	display: grid;
	place-content: center;
	background: rgba(94, 101, 104, 0.7);
} */

/* .modal-box {
	width: 90rem;
	height: 56.25rem;

	background: #ffffff;
	box-shadow: 16px 16px 80px rgba(0, 0, 0, 0.48);
	border-radius: 1.88rem;
} */
